@page "/"

<PageTitle>LiberTea</PageTitle>

<h1>Hello, Sales Team</h1>

Welcome to your new LiberTea - Contact Book app where you will be able to contact some customers about the new product launches and more! 
